.content {
  // width: 1903px;
  padding-bottom: 200px;
  .content-inner {
    width: 1090px;
    margin: 0 auto;
    .top-text {
      height: 50px;
      line-height: 50px;
      color: #a8a59c;
      b {
        color: #333;
        margin-right: 7px;
      }
      a {
        color: #333;
        margin-right: 7px;
      }
      a:hover {
        text-decoration: underline;
      }
      i {
        color: #333;
      }
    }

    .fdgoods {
      .fdgood-lt {
        float: left;
        position: relative;
        margin-right: 40px;
        width: 428px;
        height: 428px;
        border: 1px solid #e8e8e8;
        img {
          width: 430px;
          height: 430px;
        }
        span {
          position: absolute;
          bottom: 0px;
          right: 0px;
          display: block;
          background: url(../img/icon2.png) no-repeat;
          background-position: 0px -6684px;
          width: 30px;
          height: 30px;
        }
        .minBox{
          position: relative;
        
        .mask {
          width: 230px;
          height: 230px;
          background-color: orange;
          opacity: 0.4;
          position: absolute;
          left: 0;
          top: 0;
          cursor: move;
          display: none;
      }
    }
      .maxBox {
        width: 430px;
        height: 430px;
        position: absolute;
        top: 0;
        left: 440px;
        overflow: hidden;
        display: none;
        img{
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 800px;
          height:800px;
         z-index: 10;
        }
    }

        .smallpic {
          overflow: hidden;
          width: 430px;
          margin-top: 10px;
          ul {
            width: 450px;
            li {
              float: left;
              width: 76px;
              height: 76px;
              border: 1px solid #e8e8e8;
              margin-right: 10px;
              img {
                width: 76px;
                height: 76px;
              }
            }
          }
          a {
            display: block;
            color: #b4a078;
            width: 128px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            border: 1px solid #b4a078;
            background-color: #f5f3ef;
            margin-top: 14px;
          }
        }
      }

      .fdgood-rg {
        float: left;
        width: 620px;
        height: 648px;
        .fdgood-text {
          position: relative;
          p {
            b {
              font-size: 18px;
              font-weight: bold;
            }
          }
          span {
            width: 50px;
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 14px;
            color: #e36844;
            font-weight: bold;
            em {
              font-size: 12px;
              color: #333;
              cursor: pointer;
              font-weight: normal;
            }
          }
          i {
            color: #999;
          }
        }
        .fdgood-info {
          width: 610px;
          height: 240px;
          padding-top: 18px;
          padding-left: 10px;
          background-color: #f5f3ef;
          border-top: 1px dashed #dedede;
          border-bottom: 1px dashed #dedede;
          margin-top: 24px;
          ul {
            li {
              b {
                display: inline-block;
                width: 56px;
              }
            }
            li:nth-child(1) {
              strong {
                font-size: 24px;
                color: #d7282d;
                font-weight: bold;
              }
            }
            li:nth-child(2) {
              height: 33px;
              margin-left: 56px;
              background: url(../img/pic1.png) no-repeat;
              line-height: 33px;
              i {
                display: inline-block;
                background: #e1b483;
                height: 33px;
                margin-right: 6px;
              }
              span {
                color: #fff1d2;
                b {
                  color: #f3c05f;
                }
              }
              a {
                color: #f3c05f;
                margin-left: 20px;
              }
            }
            li:nth-child(3) {
              margin-top: 7px;
              margin-bottom: 12px;
              span {
                width: 58px;
                height: 20px;
                line-height: 20px;
                color: #fff;
                font-weight: bold;
                margin-right: 10px;
                background-image: linear-gradient(to right, #fe2d30, #ff8659);
              }
              a {
                color: #333333;
              }
              a:hover {
                text-decoration: underline;
              }
            }
            li:nth-child(4) {
              margin-bottom: 15px;
              span {
                i {
                  color: #c43c3b;
                }
                em {
                  display: inline-block;
                  text-align: center;
                  line-height: 14px;
                  margin-left: 5px;
                  color: #fff;
                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                  background-color: #9a9a9a;
                  cursor: pointer;
                }
              }
            }
            li:nth-child(5) {
              margin-bottom: 8px;
            }
            li:nth-child(6) {
              color: #333;
              width: 590px;
              padding-bottom: 10px;
              border-bottom: 1px dashed #d2d2d2;
              a {
                display: inline-block;
                width: 106px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                border: 1px solid #cccccc;
                color: #666666;
                background: #fff;
                margin-left: 6px;
              }
            }
            li:nth-child(7) {
              height: 50px;
              line-height: 50px;
              span {
                position: relative;
                margin-right: 18px;
                margin-left: 7px;
                i {
                  display: inline-block;
                  position: absolute;
                  top: 9px;
                  left: -7px;
                  width: 2px;
                  height: 2px;
                  background: #666666;
                }
              }
            }
          }
        }

        .fdgood-small {
          width: 610px;
          height: 240px;
          padding-top: 18px;
          padding-left: 10px;
          ul {
            li {
              b {
                color: #666666;
                margin-right: 30px;
              }
            }
            li:nth-child(1) {
              span {
                display: inline-block;
                width: 48px;
                height: 48px;
                border: 1px dashed #e4e4e4;
                margin-right: 10px;
                img {
                  width: 48px;
                  height: 48px;
                }
              }
     
            }
            li:nth-child(2) {
              margin-top: 28px;
              span {
                display: inline-block;
                width: 48px;
                height: 26px;
                border: 1px dashed #e4e4e4;
                margin-right: 10px;
                line-height: 26px;
                text-align: center;
                color: #e6e6e6;
                cursor: pointer;
              }
            }
            li:nth-child(3) {
              margin-top: 24px;
              b {
                line-height: 30px;
              }
              p {
                display: inline-block;
                width: 132px;
                height: 30px;
                border: 1px dashed #dddddd;
                //减号
                i {
                  display: inline-block;
                  width: 35px;
                  height: 30px;
                  text-align: center;
                  line-height: 30px;
                  color: #d3d3d3;
                  font-weight: bold;
                  cursor: pointer;
                }
                span {
                  display: inline-block;
                  width: 58px;
                  height: 30px;
                  text-align: center;
                  line-height: 30px;
                  border-right: 1px solid #dddddd;
                  border-left: 1px solid #dddddd;
                }
                b {
                  display: inline-block;
                  width: 35px;
                  height: 30px;
                  text-align: center;
                  line-height: 30px;
                  color: #d3d3d3;
                  font-weight: bold;
                  margin-right: 0px;
                  cursor: pointer;
                }
              }
              a {
                color: #333;
                font-size: 12px;
                margin-left: 15px;
              }
            }
          }
          .btn {
            height: 50px;
            span:nth-child(1) {
              display: inline-block;
              border-radius: 2px;
              width: 166px;
              height: 48px;
              line-height: 48px;
              text-align: center;
              font-size: 16px;
              border: 1px solid #b4a078;
              background: #f5f3ef;
              color: #b4a078;
              cursor: pointer;
            }
            span:nth-child(2) {
              display: inline-block;
              border-radius: 2px;
              width: 166px;
              height: 48px;
              line-height: 48px;
              text-align: center;
              font-size: 16px;
              border: 1px solid #b4a078;
              background: #b4a078;
              color: #fff;
              cursor: pointer;
            }
            span:nth-child(3) {
              display: inline-block;
              width: 48px;
              height: 48px;
              line-height: 48px;
              text-align: center;
              border: 1px solid #cccccc;
              color: #cccccc;
              margin-left: 5px;
              margin-top: 38px;
              cursor: pointer;
              i {
                /*  display: inline-block;
                  background: url(../img/icon.png) no-repeat;
                  background-position: 0px -5803px;
                  width: 16px;
                  height: 16px; */
              }
            }
          }
        }
      }
    }
  }

  //轮播图
  .like {
    height: 398px;
    margin-bottom: 30px;
    .like-inner {
      width: 1088px;
      margin: 0 auto;
      height: 396px;
      border: 1px solid #e8e8e8;
      p {
        padding-left: 18px;
        height: 44px;
        line-height: 44px;
        background: #f5f5f5;
      }
    }
  }
}

.details-good {
  width: 1090px;
  // height: 2000px;
  margin: 0 auto;
  .dglt {
    width: 750px;
    float: left;
    p {
      height: 44px;
      line-height: 44px;
      margin-bottom: 38px;
      a {
        display: block;
        float: left;
        width: 123px;
        height: 44px;
        border: 1px solid #e8e8e8;
        color: #333;
        text-align: center;
        background: #f5f5f5;
      }
    }
    a {
      display: block;
      img {
        width: 750px;
        height: 213px;
      }
    }

    .dglt-text {
      // float: left;
      ul {
        margin-bottom: 60px;
        padding-left: 30px;
        li {
          height: 40px;
          border-bottom: 1px dashed #ebebeb;
          line-height: 40px;
          b {
            color: #333;
          }
          i {
            color: #999999;
          }
        }
        li:nth-child(1) {
          i {
            margin-left: 70px;
            margin-right: 180px;
          }
        }
        li:nth-child(2) {
          b {
            margin-right: 40px;
          }
        }
        li:nth-child(3){
          height: 88px;
          line-height: 30px;        
        }
        li:nth-child(4){
          height: 88px;
          line-height: 30px;
        }
        li:nth-child(5){
          height: 88px;
          border-bottom: none;
          b{
            margin-right:70px;
          }
         
        }
      }

      p{
        color: #333;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }
      span{
        display: block;
        text-align: center;
      }
    }
  }
  .dgrg{
    float: right;
    width: 298px;
    border: 1px solid #e8e8e8;
    margin-left: 40px;
     p{
       height: 42px;
       line-height: 42px;
       text-align: center;
       font-size: 16px;
       font-weight: bold;
       background: #f5f5f5;
       border-bottom: 1px solid #e8e8e8;
     }
     .dgrg-info{
      padding: 24px;
      ul{
        margin-bottom: 44px;
        li{
          img{
           width: 250px;
           height: 250px;
          }
        }
        li:nth-child(2){
          height: 34px;
          line-height: 34px;
          text-align: center;
        }
        li:nth-child(3){
          text-align: center;
          b{
            color: #d62525;
          }
          span{
            text-decoration: line-through;
            color: #666666;
          }
        }
      }
     }
  }
}

